:root {
    --color-claro: #f8f6f1;
    --color-oscuro: #20210A;

    --color-verde-claro: #94BF72;
    --color-verde-medio: #759928;
    --color-verde-oscuro: #2D5201;

    --color-alerta-critica: #961111;
    --color-alerta-advertencia: #b44418;
    --color-alerta-informativa: #967D21;

    --color-estado-progreso: #105777;
    --color-estado-pendiente: #8a3311;
    --color-estado-completada: #1d5c20;
    --color-estado-suspendida: #721414;

    --espaciado-sm: 0.5rem;
    /* 8px */
    --espaciado-md: 1rem;
    /* 16px */
    --espaciado-lg: 2rem;
    /* 32px */
    --espaciado-xl: 3rem;
    /* 48px */

    --fuente-principal: system-ui, -apple-system, sans-serif;
    --max-width-container: 75rem;
    --alto-header: 4.5rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
    scroll-padding-top: 14rem;
    font-size: 100%;
}

body {
    font-family: var(--fuente-principal);
    background-color: var(--color-claro);
    color: var(--color-oscuro);
    line-height: 1.6;
}

/* HEADER */
.main-header {
    background-color: var(--color-verde-oscuro);
    color: var(--color-claro);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: var(--espaciado-sm) var(--espaciado-sm);
    gap: var(--espaciado-sm);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.main-header h1 {
    width: 100%;
    font-size: 1.5rem;
    line-height: 1.2;
}

.contenedor-info-general {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.25rem var(--espaciado-sm);
    font-size: 0.85rem;
}

.main-header nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--espaciado-sm) var(--espaciado-sm);
    font-size: 0.9rem;
}

.main-header nav a {
    text-decoration: none;
    transition: color 0.3s ease;
    color: var(--color-claro);
}

.main-header nav a:hover {
    color: var(--color-verde-claro);
    text-decoration: underline;
}

/* CONTENIDO */

.layout-container {
    padding: var(--espaciado-md);
    display: flex;
    flex-direction: column;
    gap: var(--espaciado-md);
    align-items: start;
}

.contenido-principal {
    display: flex;
    flex-direction: column;
    gap: var(--espaciado-md);
}

section,
aside {
    padding: var(--espaciado-md);
    color: var(--color-claro);
    background-color: var(--color-verde-oscuro);
    border-radius: 0.5rem;
}

/* Resumen de operaciones */
.resumen-de-operaciones {
    align-items: center;
    text-align: center;
    justify-content: center;
}

.contenedor-indicadores {
    font-size: 0.85rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: var(--espaciado-sm);
}

.indicador {
    background-color: var(--color-verde-medio);
    color: var(--color-claro);
    border-radius: 0.5rem;
    padding: var(--espaciado-sm);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.indicador h3 {
    font-size: 0.9rem;
    line-height: 1.2;
    margin-bottom: 0.25rem;
}

.indicador p {
    font-size: 1.2rem;
    font-weight: bold;
}

/* Misiones activas */
.misiones-activas h2,
.equipos-cientificos h2,
.agenda h2 {
    text-align: center;
    justify-content: center;
}

.contenedor-misiones {
    font-size: 0.85rem;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: var(--espaciado-sm);
}

.mision {
    background-color: var(--color-claro);
    color: var(--color-oscuro);
    border-radius: 0.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.estado-en-progreso,
.estado-en-base {
    color: var(--color-estado-progreso);
    font-weight: bold;
}

.estado-pendiente,
.estado-en-campo {
    color: var(--color-estado-pendiente);
    font-weight: bold;
}

.estado-completada {
    color: var(--color-estado-completada);
    font-weight: bold;
}

/* Equipos cientificos */
.equipos-cientificos h2 {
    text-align: center;
    justify-content: center;
}

.contenedor-equipos-cientificos {
    font-size: 0.85rem;
    display: flex;
    flex-direction: column;
    gap: var(--espaciado-sm);
}

.equipo {
    background-color: var(--color-verde-medio);
    color: var(--color-claro);
    border-radius: 0.5rem;
    padding: var(--espaciado-sm);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

/* Agenda */
.contenedor-agenda {
    padding: 0;
}

.actividades-agenda {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: var(--espaciado-sm);
}

.actividades-agenda li {
    background-color: var(--color-verde-claro);
    color: var(--color-oscuro);
    border-radius: 0.5rem;
    padding: var(--espaciado-sm) var(--espaciado-md);
}

.actividades-agenda li time {
    font-weight: bold;
}

/* COLUMNA DERECHA */
.columna-lateral {
    align-self: start;
    display: flex;
    flex-direction: column;
    gap: var(--espaciado-md);
    width: 100%;
}

/* Alertas */
.alertas-sistema {
    top: calc(var(--alto-header) + var(--espaciado-md));
    /*align-self: start;*/
}

.contenedor-alertas-sistema {
    display: flex;
    flex-direction: column;
    gap: var(--espaciado-sm);
    /*margin-top: var(--espaciado-sm);*/
}

.alerta {
    background-color: var(--color-claro);
    color: var(--color-oscuro);
    padding: var(--espaciado-sm) var(--espaciado-md);
    border-radius: 0.5rem;
    font-size: 0.9rem;
    border-left: 4px solid var(--color-oscuro);
}

.alerta-critica {
    background-color: var(--color-alerta-critica);
    color: var(--color-claro);
    padding: 0.1rem var(--espaciado-sm);
    border-radius: 0.3rem;
}

.alerta-advertencia {
    background-color: var(--color-alerta-advertencia);
    color: var(--color-claro);
    padding: 0.1rem var(--espaciado-sm);
    border-radius: 0.3rem;

}

.alerta-informativa {
    background-color: var(--color-alerta-informativa);
    color: var(--color-claro);
    padding: 0.1rem var(--espaciado-sm);
    border-radius: 0.3rem;
}

.alerta:has(.alerta-critica) {
    border-left-color: var(--color-alerta-critica);
}

.alerta:has(.alerta-advertencia) {
    border-left-color: var(--color-alerta-advertencia);
}

.alerta:has(.alerta-informativa) {
    border-left-color: var(--color-alerta-informativa);
}

/* imagenes */
.galeria-imagenes h2 {
    text-align: center;
    margin-bottom: var(--espaciado-sm);
}

.contenedor-galeria {
    display: flex;
    flex-direction: column;
    gap: var(--espaciado-md);
}

.cuadro-imagen {
    background-color: var(--color-verde-medio);
    padding: var(--espaciado-sm);
    border-radius: 0.5rem;
    margin: 0;
    text-align: center;
}

.cuadro-imagen img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 0.25rem;
    margin: 0 auto;
}

/* texto debajo de la imagen */
.cuadro-imagen figcaption {
    color: var(--color-claro);
    font-size: 0.85rem;
    margin-top: var(--espaciado-sm);
    font-weight: bold;
}

/* FOOTER */
.main-footer {
    background-color: var(--color-verde-oscuro);
    color: var(--color-claro);
    padding: var(--espaciado-md) var(--espaciado-md);
    text-align: center;
    margin-top: var(--espaciado-md);
}

.footer-content {
    max-width: var(--max-width-container);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: var(--espaciado-sm);
}

.main-footer a {
    color: var(--color-claro);
    text-decoration: none;
    transition: color 0.3s ease;
}

.main-footer a:hover {
    color: var(--color-verde-claro);
    text-decoration: underline;
}

/* DISEÑO ADAPTABLE (MEDIA QUERIES — DESDE 48rem = 768px) */
@media (min-width: 48rem) {

    html {
        scroll-padding-top: calc(var(--alto-header) + 5rem);
    }

    /* HEADER */
    .main-header {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto auto;
        align-items: center;
        text-align: left;
        padding: var(--espaciado-md) var(--espaciado-lg);
    }

    .main-header h1 {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        width: auto;
    }

    .contenedor-info-general {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: var(--espaciado-sm);
        width: auto;
    }

    .main-header nav {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        justify-self: end;
    }

    .main-header nav ul {
        justify-content: flex-end;
    }

    /* CONTENIDO */
    .layout-container {
        display: grid;
        grid-template-columns: minmax(0, 1fr) 18rem;
        gap: var(--espaciado-md);
        max-width: var(--max-width-container);
        margin: 0 auto;
        align-items: start;
    }

    /* Resumen de operaciones */
    .contenedor-indicadores {
        align-items: center;
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: var(--espaciado-md);
    }

    /* Misiones activas */
    .contenedor-misiones {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: var(--espaciado-sm);
    }

    .mision {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-top: var(--espaciado-sm);
        padding-bottom: var(--espaciado-sm);
        height: 100%;
    }

    /* Equipos cientificos */
    .contenedor-equipos-cientificos {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        gap: var(--espaciado-sm);
    }

    /* columnas lateral */

    .alertas-sistema {
        top: calc(var(--alto-header) + var(--espaciado-md) + 3rem);
    }

    .columna-lateral {
        align-self: start;
    }

    .footer-content {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

}

/* ESCRITORIO AMPLIO (DESDE 64rem = 1024px) */
@media (min-width: 64rem) {

    .layout-container {
        grid-template-columns: minmax(0, 1fr) 22rem;
        align-items: start;
    }

    .contenedor-indicadores {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }

    .alertas-sistema {
        top: calc(var(--alto-header) + var(--espaciado-md) + 1rem);
    }

}